@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet');

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0 !important;
}

body, html {
  height: 100%;
  position: relative;
}

body {
  height: auto;
  background-image: url(assets/bunq-background.svg);
  background-size: 100%;
  color: #1f1f1f !important;
}

