@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet');

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body, html {
  height: 100%;
  position: relative;
}

body {
  height: auto;
  min-height: 100vh;
  background-image: url(assets/bunq-background.svg);
  background-size: 100%;
}

