.open-chats {
    width: 30%;
    height: 100%;
    display: inline-block;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #dbdbdb;
    overflow: auto;
}

.username {
    padding: 30px;
    background-color: #FCFCFC;
    width: 100%;
    /* position: absolute; */
    /* top: 0; */
    border-bottom: 2px solid #F4F4F4;
}